body {
   font-size: 20px;
   color: #777;
   margin-top: 140px;
   margin-bottom: 150px;
}
h1 { 
    color: #FF7F00; 
    font-size: 28px; 
    
}
h2 { 
    color: #FF7F00; 
    font-size: 24px; 

}
    
h3 { 
    color: #FF7F00; 
    font-size: 18px; 
    
}

h4 {
    color: #FF7F00;
    text-transform: uppercase;
    font-size: 14px;
}

a {
   color: #FF7F00;
}
p1 {
    color: #F0F0F0;
    font-size: 3.2vmax; 
    text-align: left; 
    font-family: Verdana, sans-serif;
}

p2 {
    color: #E0E0E0;
    font-size: 3.2vm; 
    text-align: left; 
    margin-right:40px;
    font-family: Verdana,Geneva,sans-serif;
}
.btn {
   color: #FF7F00;
}

.btn-circle-1 {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 9px 13px;
    border: 2px solid #F0F0F0;
    border-radius: 100% !important;
    font-size: 40px;
    color: #F0F0F0;
    background: transparent none repeat scroll 0px 0px;
    
}

.btn-circle-2 {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px 5px;
    border: 1px solid #FF7F00;
    border-radius: 100% !important;
    font-size: 16px;
    color:  #FF7F00;
    background: transparent none repeat scroll 0px 0px;
    vertical-align: right;
    
}

.btn-circle-3 {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 9px 13px;
    border: 2px solid #FF7F00;
    border-radius: 100% !important;
    font-size: 40px;
    color: #FF7F00;
    background: transparent none repeat scroll 0px 0px;
    
}

.navbar {
   height: 120px;
   border: none;
}
.nav {
      margin-top:50px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 24px;
}

.footer {
  margin-bottom: 50px;
}

.divider {
   background-color: #FF7F00; 
   width: 100%; 
   height:2px; 
   margin-top: 30px;
   margin-bottom: 40px;
}
.section {
   width: 100%;
   padding: 100px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin right: none;
   padding: 100px;
}
.carousel-inner {
   padding-left: 100px;
   padding-right: 100px;
}

.slider {
   width: 200px; 
   height: 200px; 
   margin-right: 30px; 
   float: left;
   position: center;
}
