body {
	font-size: 18px;
  	color: #777;
  	margin-top: 140px;
	margin-bottom: 150px;
	text-align: right
}

.img {
	float: right;
}

.img-responsive {
	float: right;
}

.img-slider-right {
   width: 200px; 
   height: 200px; 
   margin-left: 30px; 
   margin-bottom: 30px;
   float: right;
}

.img-circle {
   width: 100px; 
   height: 130px;
   float: right;
   margin-left: 30px;
   margin-bottom: 60px;
}

.navbar {
   height: 120px;
   border: none;
}

.section {
   width: 100%;
   padding: 20px 20px 20px 35px;
}

.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin-right: none;
   padding: 20px 20px 20px 35px;
}
.carousel-inner {
   padding: 20px 20px 20px 35px;
}

.divider {
   background-color: #FF7F00; 
   width: 100%; 
   height:2px; 
   margin-top: 30px;
   margin-bottom: 40px;
}

.divider-small {
   background-color: #FF7F00; 
   width: 100%; 
   height:1px; 
   margin-top: 30px;
   margin-bottom: 40px;
}


/* responsive text queries */
@media screen and (min-width: 1280px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    color: #FF7F00; 
    font-size: 130%  
  }
  h2 {
    color: #FF7F00; 
    text-transform: uppercase;
    font-size: 120%;  
  }
  h3 {
    color: #FF7F00; 
    font-size: 120%;  
  }
  .p-bottom {
    color: #337AB7;
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 20px;
   }
   .title {
    color: #FF7F00;
    font-size: 120%; 
    margin-top: 20px;
   }
      .nav {
      margin-top: 10px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 20px;
}
.section {
   width: 100%;
   padding: 100px 380px 100px 380px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin right: none;
   padding: 100px 380px 100px 380px;
}
  .carousel-inner {
   padding: 100px 380px 100px 380px;
}	
	
}

@media screen and (max-width: 1280px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    color: #FF7F00; 
    font-size: 130%  
  }
  h2 {
    color: #FF7F00; 
    text-transform: uppercase;
    font-size: 120%;  
  }
  h3 {
    color: #FF7F00; 
    font-size: 120%;  
  }
  .p-bottom {
    color: #337AB7;
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 20px;
   }
   .title {
    color: #FF7F00;
    font-size: 120%; 
    margin-top: 20px;
   }
      .nav {
      margin-top: 10px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 20px;
}
   .section {
   width: 100%;
   padding: 100px 160px 100px 140px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin right: none;
   padding: 100px 160px 100px 140px;
}
  .carousel-inner {
   padding: 100px 160px 100px 140px;
}	
	
}
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    color: #FF7F00; 
    font-size: 120%  
  }
  h2 {
    color: #FF7F00; 
    text-transform: uppercase;
    font-size: 110%;  
  }
  h3 {
    color: #FF7F00; 
    font-size: 110%;  
  }
  .p-bottom {
    color: #337AB7;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 20px;
   }
   .title {
    color: #FF7F00;
    font-size: 100%; 
    margin-top: 20px;
   }
      .nav {
      margin-top: 0px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 18px;
}
   .section {
   width: 100%;
   padding: 100px 60px 100px 60px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin right: none;
   padding: 100px 60px 100px 60px;
}
  .carousel-inner {
   padding: 100px 60px 100px 60px;
}
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    color: #FF7F00;
    font-size: 130%;  
  }
  h2 {
    color: #FF7F00; 
    text-transform: uppercase;
    font-size:120%;  
  }
  h3 {
    color: #FF7F00;
    font-size: 110%;  
  }
  .p-bottom {
    color: #337AB7;
    text-transform: uppercase;
    font-size: 80%;
    margin-top: 20px;
   }
   .title {
    color: #FF7F00;
    font-size: 100%; 
    margin-top: 20px; 
   }
   
   .nav {
      margin-top: 0px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 12px;
}
.section {
   width: 100%;
   padding: 20px 20px 20px 35px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin-right: none;
   padding: 20px 20px 20px 35px;
}
.carousel-inner {
   padding:20px 20px 20px 35px;
}
.img-circle {
   width: 100px; 
   height: 130px;
   float: right;
   margin-left: 20px;
   margin-bottom: 120px;
}
}
