body {
   font-size: 20px;
   color: #777;
   margin-top: 140px;
   margin-bottom: 150px;
}
h1 { 
    color: #FF7F00; 
    font-size: 28px; 
    
}
h2 { 
    color: #FF7F00; 
    text-transform: uppercase;
    font-size: 18px; 

}
    
h3 { 
    color: #FF7F00; 
    font-size: 18px; 
    
}


a {
   color: #FF7F00;
}
p1 {
    color: #F0F0F0;
    font-size: 3.2vmax; 
    text-align: left; 
    font-family: Verdana, sans-serif;
}

p-title {
    color: #FF7F00;
    font-size: 3.2vm; 
}
.btn {
   color: #FF7F00;
}


.navbar {
   height: 120px;
   border: none;
}
.nav {
      margin-top:50px;
      color: #FF7F00;
      text-transform: uppercase;
      font-size: 24px;
}

.footer {
  margin-bottom: 50px;
}

.divider {
   background-color: #FF7F00; 
   width: 100%; 
   height:2px; 
   margin-top: 30px;
   margin-bottom: 40px;
}
.section {
   width: 100%;
   padding: 100px;

}
.section-grey {
   width: 100%;
   background-color: #F8F8F8;
   margin-top:-40px;
   margin-bottom:-30px;
   margin-left: none;
   margin right: none;
   padding: 100px;
}
.carousel-inner {
   padding-left: 100px;
   padding-right: 100px;
}

.slider {
   width: 200px; 
   height: 200px; 
   margin-right: 30px; 
   float: left;
   position: center;
}
