<div class="container">
	<div class="row">
		</div>	
		<div class="col-md-2">
                <p><a href="http://treffen.eijc.eu/de.html " class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px; padding: 10px;">
                 Zurück zur Übersicht
                </a></p>
        	 </div>	
		<div class="col-md-2">
                <p><a href="http://treffen.eijc.eu/2015/08/03/recherche-seminar.html" class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px;padding: 10px;">
                Recherche-Seminar SoSe 2015  
                </a></p>
        	</div>
        	<div class="col-md-2">
                <p><a href="http://treffen.eijc.eu/2015/10/08/ecpmf-konferenz-2015.html " class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px;padding: 10px;">
                ECPMF-Konferenz Okt 2015  
                </a></p>
        	 </div>	
        	 <div class="col-md-2">
                <p><a href="http://treffen.eijc.eu/2015/10/29/nr-stammtisch.html " class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px;padding: 10px;">
                  Netzwerk Recherche Stammtisch Okt 2015
                </a></p>
        	 </div>	
        	 <div class="col-md-2">
                <p><a href="http://treffen.eijc.eu/2016/05/26/dwa.html " class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px;padding: 10px;">
                  Gast der Deutschen Welle Akademie Mai 2016
                </a></p>
        	 </div>	
        	 <div class="col-md-2">
                <p><a href=" " class="thumbnail" style="background-color:#FAFAFA; width: 160px; height: 140px; border:0px;padding: 10px;">
                  
                </a></p>
	</div>
</div>

<div class="divider"></div>

 <div class="container">
  	<ul class="nav navbar-nav">
  		<li>
		      <a href="http://www.eijc.eu/de/" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" target="_blank">
			<img alt="Europäisches Institut für Journalismus- und Kommunikationsforschung" src="{{ site.base_url }}/images/EIJC-Logo_transparent.png" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" style="max-height: 50px; " />
		      </a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/de/impressum.html"><p class="p-bottom">Impressum</p></a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/de/team.html"><p class="p-bottom">Team</p></a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/de/download.html"><p class="p-bottom">Download Flyer</p></a>
		</li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><p class="p-bottom"> © EIJC | 2015</p></li>
	</ul>
  </div>
