<div class="container">
  	<ul class="nav navbar-nav">
  		<li>
		      <a href="http://www.eijc.eu/" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" target="_blank">
			<img alt="Europäisches Institut für Journalismus- und Kommunikationsforschung" src="{{ site.base_url }}/images/EIJC-Logo_transparent.png" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" style="max-height: 50px; " />
		      </a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/en/impressum.html"><p class="p-bottom">Impressum</p></a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/en/team.html"><p class="p-bottom">Team</p></a>
		</li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><p class="p-bottom"> © EIJC | 2015</p></li>
	</ul>
  </div>
