 <div class="container">
  	<ul class="nav navbar-nav">
  		<li>
		     <p class="p-bottom"> © EIJC | 2015</p></li> 
		</li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li>
		      <a href="{{ site.base_url }}/de/impressum.html"><p class="p-bottom">Impressum</p></a>
		</li>
		<li>
		      <a href="{{ site.base_url }}/ar/team.html"><p class="p-bottom">فريق </p></a>
		</li>
		<li><a href="http://www.eijc.eu/de/" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" target="_blank">
			<img alt="Europäisches Institut für Journalismus- und Kommunikationsforschung" src="{{ site.base_url }}/images/EIJC-Logo_transparent.png" title="Europäisches Institut für Journalismus- und Kommunikationsforschung" style="max-height: 50px; " />
		      </a>
		</li>
	</ul>
  </div>
