<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">   
    <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.base_url }}/de.html">
              <img alt="Treffen Internationaler Journalisten" src="{{ site.base_url }}/images/TIJ-Transparent.png" style="max-width: 80px; max-height: 80px; float:left; margin-right:20px; " />
                <p class="title">{{ page.title }}</p>
            </a>
    </div>

    <div class="nav navbar nav">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="{{ site.base_url }}/de.html">DEU</a>
            </li>
            <li>
              <a href="{{ site.base_url }}/ar.html" style="font-size: 150%;">عربي</a> 
            </li>
            <li>
                <a href="{{ site.base_url }}/en.html">ENG</a>
            </li>
        </ul>
    </div>

  </div>
</div>



      <div class="navbar navbar-fixed-bottom ">
        <div class="container">
            <ul class="nav navbar-nav pull-right" style="margin-top:10px;">
                <li><a href="mailto:info@eijc.eu?subject=Treffen%20Internationaler%20Journalisten">
                   <img alt="Mail" src="{{ site.base_url }}/images/mail-transparent.png" title="E-Mail" style="max-width: 80px; max-height: 80px; " />
                   </a>
                </li>
                <li><a href="{{ site.base_url }}/de.html#Telefon"> 
                   <img alt="Phone" src="{{ site.base_url }}/images/phone-transparent.png" title="Telefon" style="max-width: 80px; max-height: 80px; " />
                     </a>
                </li>
                <li><a href="{{ site.base_url }}/de.html#Anfahrt">
                   <img alt="Adress" src="{{ site.base_url }}/images/adress-transparent.png" title="Adresse" style="max-width: 80px; max-height: 80px; " />
                    </a>
                </li>
            </ul>
        </div>
      </div>
