  
      <nav class="navbar navbar-fixed-bottom ">
        <div class="container">
            <ul class="nav navbar-nav pull-right" style="margin-top:-1px;">
                <li><a href="mailto:ode@eijc.eu?subject=Treffen%20Internationaler%20Journalisten">
                   <img alt="Mail" src="https://www.dropbox.com/s/88n7ywwd8epzo12/mail%20transparent.png?raw=1" title="Mail" style="max-width: 80px; max-height: 80px; " />
                   </a>
                </li>
                <li><a href="" scr="">
                   <img alt="Phone" src="https://www.dropbox.com/s/zgbrhrnkhaetjaa/phone%20transparent.png?raw=1" title="Phone" style="max-width: 80px; max-height: 80px; " />
                     </a>
                </li>
                <li><a href="" scr="">
                   <img alt="Adress" src="https://www.dropbox.com/s/ty1abebafwzxgir/adress%20transparent.png?raw=1" title="Adress" style="max-width: 80px; max-height: 80px; " />
                    </a>
                </li>
            </ul>
        </div>
      </nav>
   
