<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">   
    <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.base_url }}/de.html">
              <img alt="Treffen Internationaler Journalisten" src="https://www.dropbox.com/s/0z8cxb5275ouz2r/TIJ%20Transparent.png?raw=1" style="max-width: 80px; max-height: 80px; float:left; margin-right:20px; " />
                <p class="title">{{ page.title }}</p>
            </a>
    </div>
   <div class="container" style="float: right;">
    <div class="nav navbar nav">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="{{ site.base_url }}/de.html">DEU</a>
            </li>
            <li>
              <a href="{{ site.base_url }}/ar.html">AR</a> 
            </li>
            <li>
                <a href="{{ site.base_url }}/en.html">ENG</a>
            </li>
        </ul>
    </div>
   </div>
  </div>
</div>



      <div class="navbar navbar-fixed-bottom ">
        <div class="container">
            <ul class="nav navbar-nav pull-right" style="margin-top:-1px;">
                <li><a href="mailto:info@eijc.eu?subject=Treffen%20Internationaler%20Journalisten">
                   <img alt="Mail" src="https://www.dropbox.com/s/88n7ywwd8epzo12/mail%20transparent.png?raw=1" title="E-Mail" style="max-width: 80px; max-height: 80px; " />
                   </a>
                </li>
                <li><a href="{{ site.base_url }}/de.html#Telefon"> 
                   <img alt="Phone" src="https://www.dropbox.com/s/zgbrhrnkhaetjaa/phone%20transparent.png?raw=1" title="Telefon" style="max-width: 80px; max-height: 80px; " />
                     </a>
                </li>
                <li><a href="{{ site.base_url }}/de.html#Anfahrt">
                   <img alt="Adress" src="https://www.dropbox.com/s/ty1abebafwzxgir/adress%20transparent.png?raw=1" title="Adresse" style="max-width: 80px; max-height: 80px; " />
                    </a>
                </li>
            </ul>
        </div>
      </div>
