<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">   
    <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.base_url }}/en.html">
              <img alt="International Journalist´s Meetings" src="{{ site.base_url }}/images/TIJ-Transparent.png" style="max-width: 80px; max-height: 80px; float:left; margin-right:20px; " />
                <p class="title">{{ page.title }}</p>
            </a>
    </div>

      <div class="nav navbar nav">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="{{ site.base_url }}/de.html">DEU</a>
            </li>
            <li>
              <a href="{{ site.base_url }}/ar.html" style="font-size: 150%;">عربي</a> 
            </li>
            <li>
                <a href="{{ site.base_url }}/en.html">ENG</a>
            </li>
        </ul>
      </div>

  </div>
</div>



      <div class="navbar navbar-fixed-bottom ">
        <div class="container">
            <ul class="nav navbar-nav pull-right" style="margin-top:10px;">
                <li><a href="mailto:info@eijc.eu?subject=International%20Journalists%20Meetings">
                   <img alt="Mail" src="{{ site.base_url }}/images/mail-transparent.png" title="Mail" style="max-width: 80px; max-height: 80px; " />
                   </a>
                </li>
                <li><a href="{{ site.base_url }}/de.html#Anfahrt">
                   <img alt="Adress" src="{{ site.base_url }}/images/adress-transparent.png" title="Adress" style="max-width: 80px; max-height: 80px; " />
                    </a>
                </li>
            </ul>
        </div>
      </div>
