      <nav class="navbar navbar-fixed-bottom ">
        <div class="container">
            <ul class="nav navbar-nav pull-left" style=margin-top:-40px">
                <li><a href="http://eijc.eu">
                   <img alt="EIJK" src="https://www.dropbox.com/s/f425ts8b0nsdpb7/EIJC-Logo_transparent.png?raw=1" title="EIJK" style="max-width:auto; max-height: 80px; "  />
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" style="margin-top:-1px;">
                <li><a href="mailto:ode@eijc.eu?subject=Treffen%20Internationaler%20Journalisten">
                   <img alt="E-Mail" src="https://www.dropbox.com/s/88n7ywwd8epzo12/mail%20transparent.png?raw=1" title="E-Mail" style="max-width: 80px; max-height: 80px; " />
                   </a>
                </li>
                <li><a href="">
                  <p>Impressum</p>
                </li>
                <li><a href="" scr="">
                   <img alt="Telefon" src="https://www.dropbox.com/s/zgbrhrnkhaetjaa/phone%20transparent.png?raw=1" title="Telefone" style="max-width: 80px; max-height: 80px; " />
                     </a>
                </li>
                <li><a href="" scr="">
                   <img alt="Adresse" src="https://www.dropbox.com/s/ty1abebafwzxgir/adress%20transparent.png?raw=1" title="Adresse" style="max-width: 80px; max-height: 80px; " />
                    </a>
                </li>
            </ul>
        </div>
      </nav>
   
